.rk{
  padding: 10px;
  background: #edf;
  margin: 10px 0;
}

button{
  background: rgb(104, 122, 133);
  border: 0;
  color: #fff;
  padding: 6px;
  margin: 6px 0;
  cursor: pointer;
  display: inline-block;
}

form{
  background: rgb(202, 231, 238);
  margin: 10px 0;
  padding: 10px;
}
